.service-list {
    display: flex;
    justify-content: center;
    transition: margin-left 0.3s ease; /* Hiệu ứng mượt mà */
    margin-left: var(--sp-navbar-width); /* Với sidebar mở */
  }

  .service {
    padding: 45px 0 15px 0;
  }
  
  .general-text {
    text-align: center;
  }
  
  
  .service-page.collapsed {
    margin-left: var(--sp-navbar-width-min); /* Với sidebar đóng */
  }
  