.news-page {
    margin-top: 76px;
    margin-bottom: 20px;
}
.news-page a{
    color: #000000;
}
.color1 {
    background-color: #ffe7e6;
}

.color2 {
    background: #f4ffd5
}

.color3 {
    background: #e1fcff
}

.color4 {
    background: #fff9c6
}
.mb-60 {
    margin-bottom: 60px
}