.header-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.header-div.header-div-fix {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Các styles khác nếu có */
