/*******************************/
/********** Fact CSS ***********/
/*******************************/
.fact {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.fact .col-6 {
    display: flex;
    justify-content: center;
}

.fact .fact-icon {
    position: relative;
    margin: 7px 15px 0 15px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact .fact-icon [class^="fa-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#ffffff, #002a5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fact-icon i {
    font-size: 50px;
}

.fact .fact-right .fact-icon [class^="fa-"]::before {
    background-image: linear-gradient(#ffffff, #030f27);
}

.fact .fact-left,
.fact .fact-right {
    padding-top: 60px;
    padding-bottom: 60px;
}

.fact .fact-text h2 {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
}

.fact .fact-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.fact .fact-left {
    color: #ffffff;
    background: #030f27;
}

.fact .fact-right {
    color: #ffffff;
    background: #002a5c;
}

.fact .fact-left h2 {
    color: #ffffff;
}
.counters {
    justify-content: center;
    display: flex;
}
