.top-bar {
    position: relative;
    height: 30px;
    background: #002a5c;
    line-height: 30px;
    display: flex;
    align-items: center;
}
.header-div {
    position: relative;
}
.header-div.header-div-fix {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav-bar.nav-bar-fix {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.top-bar .logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    color: #f8f8f8;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-right: -10px;
}
.top-bar .top-bar-icon i {
    color: #ffffff;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #f8f8f8;
    font-size: 20px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #f8f8f8;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}
.topbar1 {
    display: flex;
    justify-content: flex-start;
}
.topbar2 {
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    position: relative;
    background: #002a5c;
    transition: .3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-bar .navbar {
    height: 80px;
    line-height: 60px;
    background: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 10px 10px 8px 10px;
    color: #002a5c;
    font-weight: bold;
    margin-right: 20px;
    display: block;
    transition: all 0.3s;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #0f9fdb;
    border-radius: 8px;
}

.nav-bar .dropdown-menu {
    margin-top: -6px;
    border: 0;
    padding: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .dropdown-menu .dropdown-item:hover {
    color: #0f9fdb;
    background-color: #f1f1f1;
}

.nav-bar .dropdown-menu .dropdown-item {
    height: initial !important;
    padding: 8px;
    line-height: initial !important;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}

.nav-bar .btn:hover {
    color: #030f27;
    background: #002a5c;
    border-color: #002a5c;
}

@media (min-width: 992px) {    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px 60px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar .nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }
    
    .nav-bar .nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}
.logo {
    margin-right: 100px;
}
.logo img {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}