.media-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .media-box h1 {
    margin-bottom: 10px;
    font-size: 40px;
  }
  