.structure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 20px;
  margin-top: 50px;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  }
  
  .structure img {
    width: 60%;
    height: auto;
    border-radius: 10px;
  }
  .structure h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #002a5c;
    text-align: center;
}