.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .back-to-top span {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .back-to-top:hover {
    background-color: #555;
  }
  .back-to-top i {
    font-size: 24px;
    color: white;
  }
  