.product .product-item {
    position: relative;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    /* margin-bottom: 30px; */
}

.product .product-img {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.product .product-img img {
    width: 100%;
}

.product .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(3, 15, 39, .7);
    transition: .5s;
    opacity: 0;
}

.product .product-item:hover .product-overlay {
    opacity: 1;
}

.product .product-overlay p {
    margin: 0;
    color: #ffffff;
}

.product .product-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #002a5c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product .product-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product .product-text i {
    font-size: 26px;
    color: #ffffff;
}

.product .product-item a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #030f27;
    background: #002a5c;
    border-radius: 0;
    transition: .3s;
}

.product .product-item:hover a.btn {
    color: #000000;
}