#sliderSection {}


.swiper_slider {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.single_item {
    margin-top: 0;
    height: 100%;
    position: relative;
}

.single_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}


.slider_article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    /* border-radius: 5px; */
    color: #fff;
}

.slider_article h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.slider_article h2 a {
    color: #fff;
}

.slider_article p {
    font-size: 14px;
    color: #fff;
    margin: 0;
}


.latest_post {
    background: #fff;
    padding: 0 15px;
    height: 100%;
    padding: 8px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.latest_post h2 {
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

.swiper_latest_post {
    height: 300px;
    overflow: hidden;
}

.more-btn {
    float: right;
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
    color: rgb(88, 115, 235);
    font-size: 14px;
    text-decoration: none;
}

.more-btn:hover i {
    color: #002a5c;
}

.more-btn i {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(88, 115, 235);
}

.more-btn span {
    display: inline-block;
    margin-right: 8px;
}


.latest_postnav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fixed_announcement {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.fixed_announcement .media {
    display: flex;
    background-color: #f9f9f9;
    padding: 10px;
    /* border-radius: 5px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fixed_announcement img {
    width: 60px;
    height: 60px;
    /* border-radius: 5px; */
    margin-right: 10px;
}

.fixed_announcement .catg_title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.latest_postnav li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.latest_postnav li:last-child {
    border-bottom: none;
}

.latest_postnav img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.catg_title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.catg_title:hover {
    color: #007bff;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-left {
    margin-right: 8px;
}

.media-left.slide {
    flex: 1;
    margin: 0;
}

.media-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
    max-height: 200px;
}

.media-body {
    flex: 3;
    overflow: hidden;
}

.media {
    background-color: #f5f5f5;
}

.media-body .catg_title {
    font-size: 12px;
    padding: 8px;
    font-size: 500;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    text-align: justify;
    line-height: 1.4;
    max-height: 3.6em;
}

.media:hover .media-body .catg_title {
    color: #0f9fdb;
}


