.sticky-top {
    position: fixed;
    width: 100%;
    top: -200px;
    transition: top 0.3s ease-in-out;
}

.sticky-top.active {
    top: 0;
}

.shadow-sm {
    box-shadow: 0px 4px 2px -2px gray;
}

.nav-bar {
    position: relative;
    background: #002a5c;
    transition: .3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-bar .navbar {
    height: 80px;
    line-height: 60px;
    background: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 10px 10px 8px 10px;
    color: #002a5c;
    font-weight: bold;
    margin-right: 10px;
    display: block;
    transition: all 0.3s;
    font-size: 16px;
}

.nav-item.dropdown:hover>.nav-link {
    color: #0f9fdb;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    border-radius: 8px;
}

.nav-bar .dropdown-menu {
    top: 100%;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-bar .dropdown-menu .dropdown-item:hover {
    color: #ffff;
    background-color: #002a5c;
}

.nav-item.dropdown:hover>.dropdown-menu {
    display: block;
    overflow: hidden;
}

.nav-bar .dropdown-menu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0;
}

.nav-bar .dropdown-menu .dropdown-item:has(.dropdown-menu):hover .dropdown-menu {
    display: block;
}

.nav-bar .dropdown-menu .dropdown-item {
    height: initial !important;
    position: relative;
    transition: all 0.3s;
    background-color: #ffffff;
    padding: 10px 16px;
    color: #002a5c;
    line-height: initial !important;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}

.nav-bar .btn:hover {
    color: #030f27;
    background: #002a5c;
    border-color: #002a5c;
}

@media (min-width: 992px) {
    .nav-bar.nav-sticky {
        padding: 0;
    }

    .nav-bar .navbar {
        padding: 20px 60px;
    }

    .nav-bar .navbar-brand {
        display: none;
    }

    .nav-bar .nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        display: block;
        text-align: center;
    }

    .nav-link {
        margin-bottom: 10px;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }

    .nav-bar .nav-link {
        padding: 5px;
        position: relative;
    }

    .nav-bar .dropdown-menu {
        box-shadow: none;
    }

    .nav-bar .btn {
        display: none;
    }
}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.company-name {
    font-weight: bold;
}

#navbarCollapse {
    justify-content: space-between;
}