.not-found-container {
    background-color: #f8f9fa;
    min-height: 85vh !important;
  }
  
  .not-found-container h1 {
    font-size: 6rem;
  }
  
  .not-found-container p {
    max-width: 500px;
  }
  .btn-back-home {
    width: 200px;
  }